#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: MuseoModerno;
  color: #1A4C2D;
}

.totalInvest p {
  background-color: #F2F0EB;
  padding: .5rem;
  border-radius: 3rem;
  font-size: 70px;
  font-weight: 300;
  width: 100%;
}

.currentInvest .currentAmount {
  font-weight: 500;
  font-size: 100px;
  margin-bottom: 0;
}

.currentInvest .currentYear {
  font-weight: 300;
  font-size: 70px;
}

@keyframes slideUp {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1; 
  }
}

.gifJulien, .gifSeb {
  position: absolute;
  top: 60%;
  animation: slideUp 1.5s ease-out;
}

.gifJulien {
  right: 70%;
  padding-left: 1rem;
}

.gifSeb {
  left: 70%;
  padding-right: 1rem;
}

img {
  width: 100%;
  border-radius: 20px;
}

/** OFFICE SCREEN PART **/

@media (min-width: 2000px) {
  #root {
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    font-family: MuseoModerno;
    color: #1A4C2D;
  }

  .totalInvest {
    max-width: 1200px;
    margin: auto;
  }

  .totalInvest p {
    font-size: 100px;
  }

  .invest-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .currentInvest .currentAmount {
    margin-top: 0;
    font-size: 300px;
  }

  .currentInvest .currentYear {
    font-size: 120px;
  }

  .gifJulien, .gifSeb {
    top: 95%;
  }
}

/** MOBILE PART **/

@media (max-width: 575px) {
  .totalInvest {
    display: block;
    margin: auto;
    width: 100%;
  }

  .totalInvest p {
    margin: 0;
    font-size: 40px;
  }

  .currentInvest {
    width: 100%;
    margin: auto;
  }

  .currentInvest .currentAmount {
    margin: 50px 0;
    font-size: 50px;
  }

  .currentInvest .currentYear {
    margin: 0;
    font-size: 50px;
  }
}

/** MOBILE PART **/